<!DOCTYPE HTML>
<html>
  
  <head>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="https://www.webglearth.com/v2/api.js"></script>
    <script src="{{url_for('static', filename='js/getData.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/globe.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/spinner.css')}}">

    <title>Where Am I Listening?</title>
  </head>

  <body id="body" onload="getTopArtists()" >
    <h1 class="title">Where Am I Listening?</h1>  
      <div class="spinner" id="spinner" style=" top:calc(50% - 42px); left:calc(50% - 42px); position:absolute;">
        <div class="loadingio-spinner-wedges-hwktw23i59d"><div class="ldio-7t6xq7kajks" style="text-align: center;">
          <div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
          </div>
        </div>
      </div>
      <div id="earth_div" class="globe"></div>
  </body>
  <script src="{{url_for('static', filename='js/createGlobe.js')}}"></script>

</html>
