<!DOCTYPE HTML>
<html>
  
  <head>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script>
        const redirect = () => {
          window.location.replace("https://accounts.spotify.com/authorize?client_id=931a74d0cca34381b65899b69835b8a0&response_type=token&scope=user-top-read user-library-read&redirect_uri=http://spotify.tali.vision/create&state=123");
        }
    </script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/globe.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/spinner.css')}}">

  </head>

  <body>
    <h1 class="title">Where Am I Listening?</h1>
    <img onclick="redirect()" src="{{url_for('static', filename='img/login.png')}}" style="cursor: pointer; width: 20%; position: absolute; top: 32%; left:40%;">
  </body>

</html>
