<!DOCTYPE HTML>
<html>
  
  <head>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="http://www.webglearth.com/v2/api.js"></script>
    <script src="{{url_for('static', filename='js/createGlobe.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/globe.css')}}">

    <title>Where Am I Listening?</title>
  </head>

  <body onload="getTopArtists()">
    <h1 class="title">Where Am I Listening?</h1>
    <div id="earth_div" class="globe"></div>
  </body>

</html>
