<!DOCTYPE HTML>
<html>
  
  <head>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="http://www.webglearth.com/v2/api.js"></script>
    <script src="{{url_for('static', filename='js/createGlobe.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/globe.css')}}">

    <title>WebGL Earth API: Markers</title>
  </head>

  <body onload="makeRequest()">
    <div id="earth_div" class="globe"></div>
  </body>

</html>
